#cleaning-services-banner {
    background-image: url('./../../../public/images/services/cleaning-stock-2.jpg');
    background-size: cover;
    background-position: center;
}

#cleaning-checklist{
    background-image: url('./../../../public/images/services/cleaning-stock-3.jpg');
    background-size: cover;
    background-position: center;
}

#maintenance-services-banner{
    background-image: url('./../../../public/images/services/maintenance-stock-1.jpg');
    background-size: cover;
    background-position: center;
}

#seasonal-services-banner{
    background-image: url('./../../../public/images/services/seasonal-stock-1.jpg');
    background-size: cover;
    background-position: center;
}

@media only screen and (max-width: 1199px) {
    #cleaning-checklist{
        width: 100%;
    }
}