.banner-background{
    background-color: rgba(234, 234, 230, 0.25);
    padding: 3rem 0rem;
}

.banner-background-dark{
    background-color: rgba(0, 0, 0, 0.3);
    padding: 3rem 0rem;
}

#cleaning-services-header{
    text-shadow: 2px 0px .75px rgb(255, 255, 255);
    -webkit-text-stroke: white 1px;
    font-size: 7vw;
}

#maintenance-services-header{
    text-shadow: 3px 0px .75px rgb(0, 0, 0);
    -webkit-text-stroke: black 1px;
    font-size: 7vw;
}

#seasonal-services-header{
    text-shadow: 2px 0px .75px rgb(255, 255, 255);
    -webkit-text-stroke: white 1px;
    font-size: 7vw;
}

#residential-contact-btn-bottom{
    position: fixed;
    bottom: 4vh;
    left: 4vh;
    z-index: 1;
}

@media only screen and (max-width: 850px) {
    #cleaning-services-header{
        font-size: 9vw;
        -webkit-text-stroke: rgb(255, 255, 255) .5px;
        text-shadow: 1px 0px .5px rgb(255, 255, 255);
    }
    #maintenance-services-header{
        font-size: 9vw;
    }
    #seasonal-services-header{
        font-size: 9vw;
        -webkit-text-stroke: rgb(255, 255, 255) .5px;
        text-shadow: 1px 0px .5px rgb(255, 255, 255);
    }
}
