#rental-cards-wrapper{
    padding-bottom: 5px;
}

#rental-cards-wrapper::-webkit-scrollbar-thumb{
    background-color: rgb(125, 125, 139);
    border-radius: 100vw;
}

.card-header{
    background-color: rgb(9, 9, 39);
}

.rental-card{
    text-shadow: 1.5px 1.5px .25px rgb(0, 0, 0);
}

.rental-card:hover{
    cursor: pointer;
}
