#rental-cards-wrapper{
    padding-bottom: 5px;
}

#rental-cards-wrapper::-webkit-scrollbar-thumb{
    background-color: rgb(125, 125, 139);
    border-radius: 100vw;
}

.rental-card{
    text-shadow: 1.5px 1.5px .25px rgb(0, 0, 0);
}

.rental-card:hover{
    cursor: pointer;
}

.black-banner{
    background-image: radial-gradient(rgb(36, 36, 36), rgb(3, 3, 3))
}
