.about-wrapper{
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.about-image-1{
    max-width: 30rem;
}

.about-text{
    max-width: 40rem;
}

@media screen and (max-width: 1057px) {
    #about-wrapper{
        gap: 1rem;
    }
}