#h-section1-wrapper{
    background-image: url('./../../../public/images/stock-images/stock_img1.jpg');
    background-size: cover;
    background-position: center;
    min-height: 80vh;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.45);
}

.home-image{
    width: 50%;
}

.home-text-wrapper{
    animation: slideLeft 1s ease-out;
}



@keyframes slideLeft {
    0%{
        transform: translateX(25%);
        opacity: 0%;
    }
    50%{opacity: 100%;}
    100%{transform: translateX(0%);}
}

@keyframes slideRight {
    0%{
        transform: translateX(-25%);
        opacity: 0%;
    }
    50%{opacity: 100%;}
    100%{transform: translateX(0%);}
}

.home-text{
    text-shadow: 2px 2px #000000;
}

@media screen and (max-width: 700px) {
    .home-image{
        width: 100%;
        padding-left: 4px;
        padding-right: 4px;
    }
    h5{
        font-size: 15px;
    }
}