@import "~react-image-gallery/styles/css/image-gallery.css";

#rental-section-wrapper{
    gap: 5rem;
    /* background-color: rgba(255, 255, 255, 0.20); */
    margin-top: 10rem;
    padding-bottom: 2rem;
}

#rentals-text{
    max-width: 50rem;
}

#carousel-section {
    max-width: 60rem;
}