#footer-wrapper {
    /* margin-top: 8rem; */
    background-color: rgba(255, 255, 255, 0.10);
    flex-wrap: wrap;
}

#footer-img-wrapper{
    max-width: 20rem;
}

#footer-contact-wrapper{
    width: 20rem;
    font-size: 13px;
}