nav {
    /* background-color: rgb(9, 9, 39); */
    background-color: rgba(0, 0, 0, 0.50);
}

#nav-wrapper{
    width: 90%;
}
#logo-wrapper {
    max-width: 270px;
}

.show {
    animation: slideDown 1s ease none 1;  
}

.nav-item {
    font-size: 13px;
}

.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
}

@keyframes slideDown{
    0% {
        transform: translateY(-100%);
        opacity: 0%;
    }
    100%{
        transform: translateY(0%);
        opacity: 100%;
    }
}

@media screen and (max-width: 700px) {
    #logo-wrapper {
        max-width: 220px;
    }

    .reservation-btn {
        margin-bottom: 10px;
    }
}
